image: Visual Studio 2015
build: off

#---------------------------------#
#    environment configuration    #
#---------------------------------#

shallow_clone: true
platform: x64
environment:
  NODEJS_VERSION: "7"

# Things to install after repo clone
install:
  - ps: Install-Product node $env:NODEJS_VERSION $env:Platform
  - node --version
  - npm --version
  - npm config set msvs_version 2013
  - npm install > NUL
  - npm test

cache:
  - '%APPDATA%\npm-cache -> package.json'
  - '%USERPROFILE%\.electron -> package.json'

#---------------------------------#
#       tests configuration       #
#---------------------------------#

build_script:
  - npm run build-n-package:win

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: dist\win\*.exe
    name: dist_exe

  - path: dist\win\*.nupkg
    name: dist_nupkg
  

#---------------------------------#
#     deployment configuration    #
#---------------------------------#

#deploy:
#  description: ''
#  provider: GitHub
#  auth_token:
#    secure: Ffmgxn+wt5WSf/jgJ/L+/3mkUs4fn9Z5j4Dz73VATsgL14Rf/xUp2nOyE0ecow+1
#  artifact: dist
#  on:
#    appveyor_repo_tag: true

deploy:
  provider: S3
  access_key_id:
    secure: hUZXFNfyXbf/SwD6ZU05kW8OX7Qf5UQeNzu0z19npdQ=
  secret_access_key:
    secure: xlRU6LcoTAIRAy113AGY5rzR4l+zX1X+O/kgiIrsnJ8FSigUQQxJ34lUWRREtKUc
  bucket: peach-insomnia
  region: us-west-1
  folder: appveyor
  artifact: dist_exe, dist_nupkg
