image: Visual Studio 2015
build: off

#---------------------------------#
#    environment configuration    #
#---------------------------------#

shallow_clone: true
platform: x64
environment:
  NODEJS_VERSION: "7"

# Things to install after repo clone
install:
  - ps: Install-Product node $env:NODEJS_VERSION $env:Platform
  - node --version
  - npm --version
  - npm config set msvs_version 2013
  - npm install > NUL
  - npm test

cache:
  - '%APPDATA%\npm-cache -> package.json'
  - '%USERPROFILE%\.electron -> package.json'

#---------------------------------#
#       tests configuration       #
#---------------------------------#

build_script:
  - npm run build-n-package:win

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: dist\win\*
    name: dist

#---------------------------------#
#     deployment configuration    #
#---------------------------------#

#deploy:
#  description: ''
#  provider: GitHub
#  auth_token:
#    secure: Ffmgxn+wt5WSf/jgJ/L+/3mkUs4fn9Z5j4Dz73VATsgL14Rf/xUp2nOyE0ecow+1
#  artifact: dist
#  on:
#    appveyor_repo_tag: true

deploy:
  provider: S3
  access_key_id: $S3_ACCESS_KEY_ID
  secret_access_key: $S3_SECRET_KEY
  bucket: peach-insomnia
  region: us-west-1
  folder: appveyor
  artifact: dist
