image: Visual Studio 2015
build: off
test: off

#---------------------------------#
#    environment configuration    #
#---------------------------------#

platform: x64
environment:
  NODEJS_VERSION: "10"

# Things to install after repo clone
install:
  - SET "PATH=%PATH%;C:\Program Files\Git\mingw64\libexec\git-core" # For weird git bug
  - ps: Install-Product node $env:NODEJS_VERSION $env:Platform
  - node --version
  - npm --version
  - npm config set msvs_version 2015
  - npm run bootstrap
  - npm test
  - ps: >-
          $ver = git describe --abbrev=0;
          npm version $ver --no-git-tag-version --allow-same;
          cd packages/insomnia-app;
          npm version $ver --no-git-tag-version --allow-same;
          cd ../..;
          $version = node -e "console.log(require('./package.json').version);";
          Set-AppveyorBuildVariable -Name sidecarversion -Value $version;


cache:
  - '%USERPROFILE%\.electron -> packages/insomnia-app/package.json'

#---------------------------------#
#       tests configuration       #
#---------------------------------#

build_script:
  - if %APPVEYOR_REPO_TAG%==true npm run app-package
  - ps: >-
      $ver = node -e "console.log(require('./package.json').version);"; Get-ChildItem dist/squirrel-windows/*.exe | Foreach-object { Rename-Item -Path $_.fullname -Newname Peach-Sidecar-Setup-$ver-x64-win.exe; };

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

after_build:
  - ps: Get-ChildItem packages/insomnia-app/dist/squirrel-windows/*.exe | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name -DeploymentName dist_file }

artifacts:
#  - path: dist\squirrel-windows\*.exe
#    name: dist_exe_64

#  - path: dist\squirrel-windows-ia32\*.exe
#    name: dist_exe_ia32

#  - path: dist\squirrel-windows\*.nupkg
#    name: dist_nupkg
  - path: packages\insomnia-app\dist\squirrel-windows\*.exe
    name: dist

#---------------------------------#
#     deployment configuration    #
#---------------------------------#

#deploy:
#  description: ''
#  provider: GitHub
#  auth_token:
#    secure: Ffmgxn+wt5WSf/jgJ/L+/3mkUs4fn9Z5j4Dz73VATsgL14Rf/xUp2nOyE0ecow+1
#  artifact: dist
#  on:
#    appveyor_repo_tag: true

deploy:
  - provider: S3
    access_key_id:
      secure: hUZXFNfyXbf/SwD6ZU05kW8OX7Qf5UQeNzu0z19npdQ=
    secret_access_key:
      secure: xlRU6LcoTAIRAy113AGY5rzR4l+zX1X+O/kgiIrsnJ8FSigUQQxJ34lUWRREtKUc
    bucket: peach-insomnia
    region: us-west-1
    folder: appveyor
    artifact: dist
    on:
      branch: peach/develop

  - provider: S3
    access_key_id:
      secure: hUZXFNfyXbf/SwD6ZU05kW8OX7Qf5UQeNzu0z19npdQ=
    secret_access_key:
      secure: xlRU6LcoTAIRAy113AGY5rzR4l+zX1X+O/kgiIrsnJ8FSigUQQxJ34lUWRREtKUc
    bucket: peach-insomnia
    region: us-west-1
    folder: release/1.4/$(sidecarversion)
    artifact: dist_file
    on:
      appveyor_repo_tag: true
      
notifications:
  - provider: Slack
    incoming_webhook:
      secure: rnZB1yWnCvqTXiBw12lEQdir7+zONR7EzNwRMSJKnWb92yV9bhQ4tGfiG+vW0BRf8ZHXhXB9SCOR9CeFSq+ZDd9kJ2nhZPgUSB09I81Kdn8=
