logs
*.log
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.lock-wscript
build/Release
node_modules/
**/node_modules/
.npm
.eslintcache
.node_repl_history

# Visual Studio and VS Code stuff
.vs/
*.sln
*.njsproj

# Vim swap files
*.swp
*.tgz
.yarn-integrity
.env
.idea
.DS_Store
*test-plugins
.vscode
