language: node_js
matrix:
  include: 
  - os: linux
    sudo: required
    dist: trusty
    env:
    - COMPOSE_SCRIPT=package_linux
    - DOCKER_COMPOSE_VERSION=1.20.1
    before_install:
    - sudo rm /usr/local/bin/docker-compose
    - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
    - chmod +x docker-compose
    - sudo mv docker-compose /usr/local/bin
    after_success:
    - python -c 'import os,sys,fcntl; flags = fcntl.fcntl(sys.stdout, fcntl.F_GETFL); fcntl.fcntl(sys.stdout, fcntl.F_SETFL, flags&~os.O_NONBLOCK);'
    - docker-compose build
    - docker-compose build $COMPOSE_SCRIPT
    - docker-compose run $COMPOSE_SCRIPT
    - "./travis_rename.sh"
  - os: linux
    sudo: required
    dist: trusty
    env:
    - COMPOSE_SCRIPT=package_snap
    - DOCKER_COMPOSE_VERSION=1.20.1
    before_install:
    - sudo rm /usr/local/bin/docker-compose
    - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
    - chmod +x docker-compose
    - sudo mv docker-compose /usr/local/bin
    after_success:
    - python -c 'import os,sys,fcntl; flags = fcntl.fcntl(sys.stdout, fcntl.F_GETFL); fcntl.fcntl(sys.stdout, fcntl.F_SETFL, flags&~os.O_NONBLOCK);'
    - docker-compose build $COMPOSE_SCRIPT
    - docker-compose run $COMPOSE_SCRIPT
    - "./travis_rename.sh"
  - os: osx
    env:
    - CSC_IDENTITY_AUTO_DISCOVERY=false    
    after_success:
    - npm run app-package
    - "./travis_rename.sh"
addons:
  artifacts:
    s3_region: us-west-1
    debug: true
    working_dir: ./dist/deploy
    paths:
    - $(find ./dist/deploy -type f -name *.AppImage -o -name *.dmg -o -name *.snap | tr "\n" ":")

cache:
  directories:
  - node_modules
  - build/node_modules
  - $HOME/.electron
  - $HOME/.cache

before_script:
  - "./version.sh"

script:
- node --version
- npm --version
- npm run bootstrap
- npm test
after_success:
- export INSOMNIA_VERSION=$(node -e "console.log(require('./package.json').version);")

after_deploy:
- echo "artifacts paths are:"
- echo $ARTIFACTS_PATHS

deploy:
  provider: s3
  region: us-west-1
  access_key_id: "$ARTIFACTS_KEY"
  secret_access_key: "$ARTIFACTS_SECRET"
  bucket: "$ARTIFACTS_BUCKET"
  skip_cleanup: true
  local_dir: dist/deploy
  upload-dir: release/1.4/$INSOMNIA_VERSION
  on:
    tags: true
notifications:
  slack:
    secure: njKl/e4gbf1ikkNrOaLrlm3QqMAKNGlwCn+W6NMIp+E1ij6wiMqsNXFeHXhnxbV0t3zsO04ljPoqnqSKn0MVsarAA5hyfJttyCCmeUe2Voj0GUb67x3Gh65R7ridKftbkG/2GcEhYXxA0PgDqWB2llbgulFhEhqz7fxv1/TAAS3zvoLQ8OTEQpC/78xTmKn5BrQ5U1Sm5t3Zuwl4tiHFoHsOIEsV0bYrADFvrdL3DyxJrwyaM/YNvsQdIz/sERjRkPs3pAXstT3grRrPEGIRCE6/AMOSUM8rHSYOYz45cq/0k4CuLBwlMuY0Z5IkHR7GNOfMxmIlp7n0Nke2Ws2MCVxWnwO/1b9NahK7eujFlQoPZRWUkjv1EMzcBvE6CzKgUt5QvDgzqmvMsn+X9pcn3UYPUWg3/P1O+bYUZ7zFoaxScZMhudOD3miA5Z6HxQGGBnd5nuWAfH0TW+Kn/Xam4PsBvtUJmmIoUamNnXWIBwsA7h8V7XJKbee15PGejK2RQLHzBHM64gN+wQZutjWgOrO6dj1QLSapoRKnTPomFT3LfmdBAXkyB44ZyPewIB7txpYtzaTDuZ+nk9D4PQesR2EmDUkJvxXifR6tQL+o9O0hxAv4vC/mzDPZCEURB6cfkFnwqS9rWZRyPuGen2r/6zBbe3H8fqcOjoBdUcpVhlM=
