language: node_js

matrix:
  include:
    - os: linux
      sudo: required
      dist: trusty
      env: CC=clang CXX=clang++ npm_config_clang=1
      compiler: clang
      env:
        - PLATFORM=linux

    - os: linux
      dist: trusty
      env: CC=clang CXX=clang++ npm_config_clang=1
      compiler: clang
      env:
        - PLATFORM=win
        # prevent wine popup dialogs about installing additional packages
        - WINEDLLOVERRIDES="mscoree,mshtml="

    - os: osx
      env:
        - PLATFORM=mac
        - CSC_LINK=$MAC_CSC_LINK
        - CSC_KEY_PASSWORD=$MAC_CSC_KEY_PASSWORD

before_install:
  # Wine
  - sudo dpkg --add-architecture i386
  - wget https://dl.winehq.org/wine-builds/Release.key
  - sudo apt-key add Release.key
  - sudo apt-add-repository "https://dl.winehq.org/wine-builds/ubuntu/" -y
  - sudo apt-get update -q
  - sudo apt-get install --no-install-recommends winehq-stable -y
  # Mono
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
  - echo "deb http://download.mono-project.com/repo/ubuntu trusty main" | sudo tee /etc/apt/sources.list.d/mono-official.list
  - sudo apt-get update -q
  - sudo apt-get install --no-install-recommends mono-devel ca-certificates-mono -y

addons:
  artifacts:
    s3_region: "us-west-1"
    paths:
    - dist
  
  apt:
    packages:
    - libcurl4-openssl-dev
    - git-all
    - build-essential
    - icnsutils
    - graphicsmagick
    - xz-utils

cache:
  directories:
    - node_modules
    - build/node_modules
    - $HOME/.electron
    - $HOME/.cache

install:
- npm install > /dev/null
- node --version
- npm --version

script:
- npm test
- npm run build-n-package:$PLATFORM

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  skip_cleanup: true
  file_glob: true
  file:
    - dist/**/*.zip
    - dist/**/*.dmg
    - dist/**/*.deb
    - dist/**/*.AppImage
  on:
    tags: true
