language: node_js

matrix:
  include:
    - os: linux
      dist: trusty
      env: CC=clang CXX=clang++ npm_config_clang=1
      compiler: clang
      env:
        - PLATFORM=linux
    - os: linux
      dist: trusty
      env: CC=clang CXX=clang++ npm_config_clang=1
      compiler: clang
      env:
        - PLATFORM=win
    - os: osx
      env:
        - PLATFORM=mac
        - CSC_LINK=$MAC_CSC_LINK
        - CSC_KEY_PASSWORD=$MAC_CSC_KEY_PASSWORD

addons:
  artifacts:
    s3_region: "us-west-1"
    paths:
    - dist
  
  apt:
    packages:
    - libcurl4-openssl-dev
    - git-all
    - build-essential
    - icnsutils
    - graphicsmagick
    - xz-utils

cache:
  directories:
    - node_modules
    - build/node_modules
    - $HOME/.electron
    - $HOME/.cache

install:
- npm install > /dev/null
- node --version
- npm --version

script:
- npm test

after_success:
- npm run build-n-package:$PLATFORM

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  skip_cleanup: true
  file_glob: true
  file:
    - dist/**/*.zip
    - dist/**/*.dmg
    - dist/**/*.deb
    - dist/**/*.AppImage
  on:
    tags: true
